<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Edit Memo | Memo App</title>
</head>
<body>
  <h1>Memo App</h1>
  <main>
    <form action="/memos/<%= @id %>" method="POST">
      <div class="form-items">
        <div class="form-items__item">
          <label>タイトル</label>
          <input type="text" name="title" value="<%= @memo['title'] %>">
        </div>
        <div class="form-items__item">
          <label>本文</label>
          <textarea name="contents" rows="10"><%= @memo['contents'] %></textarea>
        </div>
      </div>
      <div class="form-action">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <input type="submit" value="保存">
      </div>
    </form>
  </main>
</body>
</html>