<form action="/memos/create" method="POST">
  <div class="form-items">
    <div class="form-items__item">
      <label>タイトル</label>
      <input type="text" name="title">
    </div>
    <div class="form-items__item">
      <label>本文</label>
      <textarea name="contents" rows="10"></textarea>
    </div>
  </div>
  <div class="form-action">
    <input type="submit" value="保存">
  </div>
</form>