<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= @memo['title'] %> | Memo App</title>
</head>
<body>
  <h1>Memo App</h1>
  <main>
    <h2><%= @memo['title'] %></h2>
    <p><%= @memo['contents'] %></p>
  </main>
</body>
</html>