<h2><%= h(@memo['title']) %></h2>
<p><%= h(@memo['contents']) %></p>
<div class='action-buttons'>
  <form action="/memos/<%= h(@id) %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>
  <form action="/memos/<%= h(@id) %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</div>
